# datasets
feature/datasets/
*/datasets/

# results
results/
*/results/

# checkpoints
*.pt
*.pth
*.ckpt

# numpy
*.npy
*.npz

# python cache
__pycache__/
*.pyc

# logs
*.log

# notebook cache
.ipynb_checkpoints/

# vscode
.vscode/
